<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Отчёт{% endblock %}</title>
    <link rel="stylesheet" href="{{ base_path }}/public/css/styles.css">
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script>
    window.BASE_PATH = '{{ base_path }}';
</script>
<script src="{{ base_path }}/public/js/report.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
